<body >
<h2>High School Eduction</h2>
<P>Name of school : Hoerskool Nylstroom</P>
<p>Highest grade : Grade 12</p>
<table border="1" ><tr>
        <th>Subject Name</th>
        <th>Subject Code</th>
    </tr>
    <tr>
        <td>English</td>
        <td>Eng</td>
    </tr>
    <tr>
        <td>Afrikaans</td>
        <td>Afr</td>
    </tr>
    <tr>
        <td>Maths lit</td>
        <td>Mlit</td>
    </tr>
    <tr>
        <td>Life Science</td>
        <td>LfSc</td>
    </tr>
    <tr>
        <td>Business Studies </td>
        <td>Bstd</td>
    </tr>
    <tr>
        <td>Life orentation </td>
        <td>LO</td>
    </tr>
    <tr>
        <td>Computer Application Technology</td>
        <td>CAT</td>
    </tr>
</table>
<p>Year obtained : 2012</p>


<h2>Tertiary Education</h2>
<p>Name of Institution : Tshwane University of Technology</p>
<p>Course : National Diploma Information Technology</p>
<table border="1" >
    <tr>
        <th>Subject Name</th>
        <th>Subject Code</th>
    </tr>
    <tr>
        <td>Communications Skills</td>
        <td>CMK</td>
    </tr>
    <tr>
        <td>Computing Fundumentals</td>
        <td>CFS</td>
    </tr>
    <tr>
        <td>Computing Systems</td>
        <td>SSF</td>
    </tr>
    <tr>
        <td>Technical Applications</td>
        <td>TPG</td>
    </tr>
    <tr>
        <td>Development Software</td>
        <td>DSO</td>
    </tr>
    <tr>
        <td>System Software</td>
        <td>SSF</td>
    </tr>
    <p>Year obtained : 2017</p>

    <div class="footer">
            <p>Created by KJT</p>
        </div>
</table></body>